<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>update-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Admin Dashboard</ion-card-title>
      <ion-card-subtitle>Update password</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>



      <ion-item>
        <ion-label>Select Test</ion-label>
        <ion-select placeholder="Select Test" [(ngModel)]="selectedTest">
          <ion-select-option value="test1">Test 1</ion-select-option>
          <ion-select-option value="test2">Test 2</ion-select-option>
          <ion-select-option value="test3">Test 3</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-input type="password" [(ngModel)]="oldPassword" placeholder="Enter old password"></ion-input>
      <ion-input type="password" [(ngModel)]="newPassword" placeholder="Input new password"></ion-input>
      <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm new password"></ion-input>
      <ion-button expand="block" >Submit</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
