<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Welcome to Linda's Driving School</ion-title>
  </ion-toolbar>

</ion-header>
<div>🚗-#siyaphasa</div>
<ion-content class="ion-text-center" style="--background: #f4f4f4;">
  <img src="assets\Linda.png" alt="Linda's Driving School Logo" style="max-width: 80%; animation: fadeIn 1s;">
  <h2 style="font-size: 2rem; color: #007BFF; margin-top: 1rem;">Start Your Journey with Confidence</h2>
  <p style="font-size: 1.2rem; color: #777; margin: 1rem 0;">
    At Linda's Driving School, we are committed to helping you hit the road safely and confidently. Our team of professional instructors is dedicated to guiding you through every step of the learning process.
  </p>
  <ion-button expand="full" routerLink="/home">Start Learning</ion-button>
</ion-content>
