<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Linda's Driving School</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <img src="assets\Linda’s.png" alt="Linda's Driving School Logo">
  <h2>Welcome to Linda's Driving School</h2>
  <p>
    We'll help you get on the road safely and confidently. Our professional instructors will guide you through every step of the way.
  </p>
  <ion-button expand="full" routerLink="/home">Start Learning</ion-button>
</ion-content>

