/* result.page.scss */

ion-content {
    --background: #f4f4f4;
 
    text-align: center;
  }
  
  .result-card {
    width: 98%;
   
    margin-top: 20px ;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .score {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .answer-status {
    font-weight: bold;
    margin: 15px 0;
  }
  
  .correct {
    color: #4caf50; /* green */
  }
  
  .incorrect {
    color: #f44336; /* red */
  }
  
  .unanswered {
    color: #ff9800; /* orange */
  }
  ion-card-content{
    width: 100%;
  }
 
  