<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <div class="image-container">
    <img src="assets\Captyure.PNG" alt="" class="custom-image">
  </div>
  <ion-text class="custom-text">The quick brown fox jumps over the lazy dog</ion-text><br>
  <ion-radio class="custom-radio" value="one"></ion-radio> One<br>
  <ion-radio class="custom-radio" value="two"></ion-radio> Two<br>
  <ion-radio class="custom-radio" value="three"></ion-radio> Three<br>
  <ion-radio class="custom-radio" value="four"></ion-radio> Four


  <div class="buttons-container">
    <ion-button class="custom-button">Previous</ion-button>
    <ion-button class="custom-button">Next</ion-button>
  </div>
</ion-content>
